body{
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%231f0618'%3E%3C/rect%3E%3Cdefs%3E%3ClinearGradient id='grad1_0' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%2304c28e' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%2304c28e' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_1' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%2304c28e' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%2300a89e' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_2' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23008ba2' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%2300a89e' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_3' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23008ba2' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%23006e97' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_4' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%2300517e' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%23006e97' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_5' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%2300517e' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%232b355c' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_6' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%232c1d38' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%232b355c' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_7' x1='33.3%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%232c1d38' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%231f0618' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_0' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%2304c28e' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%2304c28e' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_1' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%2300a89e' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%2304c28e' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_2' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%2300a89e' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%23008ba2' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_3' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23006e97' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%23008ba2' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_4' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%23006e97' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%2300517e' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_5' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%232b355c' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%2300517e' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_6' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%232b355c' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%232c1d38' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_7' x1='0%25' y1='100%25' x2='66.7%25' y2='0%25'%3E%3Cstop offset='20%25' stop-color='%231f0618' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='80%25' stop-color='%232c1d38' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(900  600)'%3E%3Cpath d='M-459.7 0C-423.8 -15.6 -387.9 -31.3 -387.7 -51C-387.4 -70.8 -422.8 -94.7 -430.8 -115.4C-438.8 -136.2 -419.3 -153.7 -393.6 -163C-367.9 -172.3 -336 -173.3 -329.1 -190C-322.2 -206.7 -340.3 -239 -339.6 -260.5C-338.8 -282.1 -319.3 -292.8 -301.2 -301.2C-283.1 -309.7 -266.5 -315.9 -256.3 -334C-246.1 -352.1 -242.3 -382.1 -228 -394.9C-213.7 -407.8 -188.8 -403.5 -168.8 -407.4C-148.7 -411.4 -133.5 -423.6 -116.2 -433.7C-99 -443.8 -79.7 -451.8 -60 -455.8C-40.3 -459.8 -20.2 -459.7 0 -459.7L0 0Z' fill='%23261227'%3E%3C/path%3E%3Cpath d='M-402.2 0C-370.8 -13.7 -339.4 -27.4 -339.2 -44.7C-339 -62 -370 -82.9 -377 -101C-383.9 -119.1 -366.9 -134.5 -344.4 -142.6C-321.9 -150.8 -294 -151.7 -288 -166.3C-281.9 -180.8 -297.7 -209.1 -297.1 -228C-296.5 -246.8 -279.4 -256.2 -263.6 -263.6C-247.7 -271 -233.2 -276.4 -224.3 -292.3C-215.3 -308.1 -212 -334.3 -199.5 -345.5C-187 -356.8 -165.2 -353 -147.7 -356.5C-130.1 -360 -116.8 -370.7 -101.7 -379.5C-86.6 -388.3 -69.7 -395.3 -52.5 -398.8C-35.3 -402.3 -17.6 -402.3 0 -402.2L0 0Z' fill='%232e284a'%3E%3C/path%3E%3Cpath d='M-344.8 0C-317.9 -11.7 -290.9 -23.5 -290.7 -38.3C-290.6 -53.1 -317.1 -71 -323.1 -86.6C-329.1 -102.1 -314.4 -115.3 -295.2 -122.3C-275.9 -129.2 -252 -130 -246.8 -142.5C-241.6 -155 -255.2 -179.3 -254.7 -195.4C-254.1 -211.6 -239.5 -219.6 -225.9 -225.9C-212.4 -232.3 -199.9 -236.9 -192.2 -250.5C-184.6 -264.1 -181.7 -286.5 -171 -296.2C-160.3 -305.8 -141.6 -302.6 -126.6 -305.6C-111.5 -308.5 -100.1 -317.7 -87.2 -325.3C-74.2 -332.9 -59.8 -338.8 -45 -341.8C-30.2 -344.8 -15.1 -344.8 0 -344.8L0 0Z' fill='%231f436e'%3E%3C/path%3E%3Cpath d='M-287.3 0C-264.9 -9.8 -242.4 -19.5 -242.3 -31.9C-242.1 -44.3 -264.3 -59.2 -269.3 -72.1C-274.2 -85.1 -262 -96.1 -246 -101.9C-229.9 -107.7 -210 -108.3 -205.7 -118.8C-201.4 -129.2 -212.7 -149.4 -212.2 -162.8C-211.8 -176.3 -199.6 -183 -188.3 -188.3C-177 -193.6 -166.6 -197.4 -160.2 -208.8C-153.8 -220.1 -151.4 -238.8 -142.5 -246.8C-133.6 -254.8 -118 -252.2 -105.5 -254.6C-92.9 -257.1 -83.4 -264.8 -72.6 -271.1C-61.8 -277.4 -49.8 -282.4 -37.5 -284.9C-25.2 -287.3 -12.6 -287.3 0 -287.3L0 0Z' fill='%23005f8c'%3E%3C/path%3E%3Cpath d='M-229.9 0C-211.9 -7.8 -193.9 -15.6 -193.8 -25.5C-193.7 -35.4 -211.4 -47.4 -215.4 -57.7C-219.4 -68.1 -209.6 -76.9 -196.8 -81.5C-183.9 -86.2 -168 -86.7 -164.5 -95C-161.1 -103.3 -170.1 -119.5 -169.8 -130.3C-169.4 -141 -159.7 -146.4 -150.6 -150.6C-141.6 -154.8 -133.2 -158 -128.1 -167C-123 -176 -121.2 -191 -114 -197.5C-106.8 -203.9 -94.4 -201.7 -84.4 -203.7C-74.4 -205.7 -66.7 -211.8 -58.1 -216.9C-49.5 -221.9 -39.9 -225.9 -30 -227.9C-20.2 -229.9 -10.1 -229.9 0 -229.9L0 0Z' fill='%23007d9f'%3E%3C/path%3E%3Cpath d='M-172.4 0C-158.9 -5.9 -145.5 -11.7 -145.4 -19.1C-145.3 -26.6 -158.6 -35.5 -161.6 -43.3C-164.5 -51.1 -157.2 -57.7 -147.6 -61.1C-138 -64.6 -126 -65 -123.4 -71.3C-120.8 -77.5 -127.6 -89.6 -127.3 -97.7C-127.1 -105.8 -119.7 -109.8 -113 -113C-106.2 -116.1 -99.9 -118.5 -96.1 -125.3C-92.3 -132 -90.9 -143.3 -85.5 -148.1C-80.1 -152.9 -70.8 -151.3 -63.3 -152.8C-55.8 -154.3 -50 -158.9 -43.6 -162.6C-37.1 -166.4 -29.9 -169.4 -22.5 -170.9C-15.1 -172.4 -7.6 -172.4 0 -172.4L0 0Z' fill='%23009aa2'%3E%3C/path%3E%3Cpath d='M-114.9 0C-106 -3.9 -97 -7.8 -96.9 -12.8C-96.9 -17.7 -105.7 -23.7 -107.7 -28.9C-109.7 -34 -104.8 -38.4 -98.4 -40.8C-92 -43.1 -84 -43.3 -82.3 -47.5C-80.5 -51.7 -85.1 -59.8 -84.9 -65.1C-84.7 -70.5 -79.8 -73.2 -75.3 -75.3C-70.8 -77.4 -66.6 -79 -64.1 -83.5C-61.5 -88 -60.6 -95.5 -57 -98.7C-53.4 -101.9 -47.2 -100.9 -42.2 -101.9C-37.2 -102.8 -33.4 -105.9 -29.1 -108.4C-24.7 -111 -19.9 -112.9 -15 -113.9C-10.1 -114.9 -5 -114.9 0 -114.9L0 0Z' fill='%2300b597'%3E%3C/path%3E%3Cpath d='M-57.5 0C-53 -2 -48.5 -3.9 -48.5 -6.4C-48.4 -8.9 -52.9 -11.8 -53.9 -14.4C-54.8 -17 -52.4 -19.2 -49.2 -20.4C-46 -21.5 -42 -21.7 -41.1 -23.8C-40.3 -25.8 -42.5 -29.9 -42.4 -32.6C-42.4 -35.3 -39.9 -36.6 -37.7 -37.7C-35.4 -38.7 -33.3 -39.5 -32 -41.8C-30.8 -44 -30.3 -47.8 -28.5 -49.4C-26.7 -51 -23.6 -50.4 -21.1 -50.9C-18.6 -51.4 -16.7 -53 -14.5 -54.2C-12.4 -55.5 -10 -56.5 -7.5 -57C-5 -57.5 -2.5 -57.5 0 -57.5L0 0Z' fill='%2304c28e'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(0  0)'%3E%3Cpath d='M459.7 0C414.9 14.5 370.2 29.1 365.8 48.2C361.5 67.2 397.6 90.8 400.9 107.4C404.1 124 374.6 133.6 366.8 151.9C358.9 170.3 372.7 197.3 362 209C351.3 220.7 316 216.9 311 238.6C305.9 260.4 331.1 307.6 323.9 323.9C316.6 340.1 277 325.3 259.3 338C241.7 350.7 246 390.8 229.9 398.1C213.7 405.4 177.2 379.8 151.5 365.9C125.9 351.9 111.1 349.7 97.8 365.1C84.6 380.5 73 413.6 56.9 432.3C40.9 451 20.4 455.3 0 459.7L0 0Z' fill='%23261227'%3E%3C/path%3E%3Cpath d='M402.2 0C363.1 12.7 323.9 25.5 320.1 42.1C316.3 58.8 347.9 79.5 350.8 94C353.6 108.5 327.8 116.9 320.9 132.9C314.1 149 326.1 172.7 316.7 182.9C307.4 193.1 276.5 189.8 272.1 208.8C267.7 227.8 289.7 269.2 283.4 283.4C277 297.6 242.4 284.6 226.9 295.7C211.5 306.8 215.2 342 201.1 348.4C187 354.7 155.1 332.3 132.6 320.1C110.1 307.9 97.2 306 85.6 319.5C74 333 63.8 361.9 49.8 378.2C35.8 394.6 17.9 398.4 0 402.2L0 0Z' fill='%232e284a'%3E%3C/path%3E%3Cpath d='M344.8 0C311.2 10.9 277.6 21.8 274.4 36.1C271.1 50.4 298.2 68.1 300.6 80.6C303.1 93 281 100.2 275.1 113.9C269.2 127.7 279.5 148 271.5 156.7C263.5 165.5 237 162.7 233.2 179C229.5 195.3 248.3 230.7 242.9 242.9C237.5 255.1 207.7 244 194.5 253.5C181.3 263 184.5 293.1 172.4 298.6C160.3 304 132.9 284.8 113.7 274.4C94.4 264 83.3 262.3 73.4 273.8C63.5 285.4 54.7 310.2 42.7 324.2C30.7 338.2 15.3 341.5 0 344.8L0 0Z' fill='%231f436e'%3E%3C/path%3E%3Cpath d='M287.3 0C259.3 9.1 231.4 18.2 228.7 30.1C225.9 42 248.5 56.8 250.5 67.1C252.6 77.5 234.1 83.5 229.2 95C224.3 106.4 232.9 123.3 226.2 130.6C219.5 137.9 197.5 135.6 194.4 149.1C191.2 162.7 206.9 192.3 202.4 202.4C197.9 212.6 173.1 203.3 162.1 211.2C151 219.2 153.7 244.3 143.7 248.8C133.6 253.4 110.8 237.4 94.7 228.7C78.7 220 69.4 218.6 61.1 228.2C52.9 237.8 45.6 258.5 35.6 270.2C25.5 281.9 12.8 284.6 0 287.3L0 0Z' fill='%23005f8c'%3E%3C/path%3E%3Cpath d='M229.9 0C207.5 7.3 185.1 14.5 182.9 24.1C180.8 33.6 198.8 45.4 200.4 53.7C202.1 62 187.3 66.8 183.4 76C179.5 85.1 186.4 98.7 181 104.5C175.6 110.3 158 108.4 155.5 119.3C153 130.2 165.5 153.8 161.9 161.9C158.3 170 138.5 162.6 129.7 169C120.8 175.3 123 195.4 114.9 199.1C106.9 202.7 88.6 189.9 75.8 182.9C62.9 176 55.5 174.9 48.9 182.6C42.3 190.3 36.5 206.8 28.5 216.1C20.4 225.5 10.2 227.7 0 229.9L0 0Z' fill='%23007d9f'%3E%3C/path%3E%3Cpath d='M172.4 0C155.6 5.5 138.8 10.9 137.2 18.1C135.6 25.2 149.1 34.1 150.3 40.3C151.6 46.5 140.5 50.1 137.5 57C134.6 63.8 139.8 74 135.7 78.4C131.7 82.7 118.5 81.3 116.6 89.5C114.7 97.6 124.2 115.4 121.4 121.4C118.7 127.5 103.9 122 97.2 126.7C90.6 131.5 92.2 146.6 86.2 149.3C80.2 152 66.5 142.4 56.8 137.2C47.2 132 41.6 131.1 36.7 136.9C31.7 142.7 27.4 155.1 21.3 162.1C15.3 169.1 7.7 170.8 0 172.4L0 0Z' fill='%23009aa2'%3E%3C/path%3E%3Cpath d='M114.9 0C103.7 3.6 92.5 7.3 91.5 12C90.4 16.8 99.4 22.7 100.2 26.9C101 31 93.7 33.4 91.7 38C89.7 42.6 93.2 49.3 90.5 52.2C87.8 55.2 79 54.2 77.7 59.7C76.5 65.1 82.8 76.9 81 81C79.2 85 69.2 81.3 64.8 84.5C60.4 87.7 61.5 97.7 57.5 99.5C53.4 101.3 44.3 94.9 37.9 91.5C31.5 88 27.8 87.4 24.5 91.3C21.2 95.1 18.2 103.4 14.2 108.1C10.2 112.7 5.1 113.8 0 114.9L0 0Z' fill='%2300b597'%3E%3C/path%3E%3Cpath d='M57.5 0C51.9 1.8 46.3 3.6 45.7 6C45.2 8.4 49.7 11.4 50.1 13.4C50.5 15.5 46.8 16.7 45.8 19C44.9 21.3 46.6 24.7 45.2 26.1C43.9 27.6 39.5 27.1 38.9 29.8C38.2 32.5 41.4 38.5 40.5 40.5C39.6 42.5 34.6 40.7 32.4 42.2C30.2 43.8 30.7 48.9 28.7 49.8C26.7 50.7 22.2 47.5 18.9 45.7C15.7 44 13.9 43.7 12.2 45.6C10.6 47.6 9.1 51.7 7.1 54C5.1 56.4 2.6 56.9 0 57.5L0 0Z' fill='%2304c28e'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;
}
.seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}
button{
    cursor: pointer;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    width: 10rem;
    font-weight: 400;
    font-size: x-large;
    color: rgba(0,0,0,.9);
    transition-duration: 0.4s;
}
button:hover{
    background-color: black;
    color: white;
}
#contenedorID{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 1rem;
}
#contenedorID p{
    color: white;
    font-size: large;
}
#animacion{
    margin-top: 1rem;
}
#animacion h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 1px;
    color: white;
    line-height: 1.5;

    letter-spacing: -.05em;
    min-width: 30rem;
    font-size: 6rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mainDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    margin-right: 1rem;
}
.logo svg{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: white;
}
.logo img{
    display: flex;
    margin-top: 1rem;
    width: 10rem;
}
#personajes{
    margin-left: 0.625rem;
    margin-top: 1rem;
}
#personajes img{
    width: 4rem;
    margin: 0.5em;
    border-radius: 3px;
}
h3{
    color: white;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 3rem;
}

/* media queries  */

@media(max-width: 820px)  {
    body{
        background-image: url("./media/fondo_azul_responsive.svg?inline");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 2.5rem;
        text-align: start;
    }
    #animacion{
        margin-left: 20px;
    }
    #animacion h3{
        min-width: auto;
        font-size: 2.5rem;
        text-align: start;
    }
    #personajes{
        margin-left: 30px;
    }
    #subTexto{
        margin-left: 20px;
    }
}